@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    /*border: 1px solid red;*/
}

body {
    overflow-x: hidden;
    font-size: 16px;
    background-color: #051225;
}

html {
    height: 200vh;

}

.container {
    width: 100%;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;

    z-index: 1;
    padding-inline: 16px;
}

#header {
    margin: 0;
    padding: 0;
}

header.rolagem {
    background-color: #051225;
    padding: 20px 4%;
}

header.rolagem a,
header.rolagem i {
    color: #EBF0F2;
}

header i {
    display: inline-block;
    margin: 0 40px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li {
    display: flex !important;
    margin: 0 40px;
    justify-content: center !important;
    align-items: center !important;
}

.nav-list li a {
    color: #EBF0F2;
    text-decoration: none;
}

.btn-lgn {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #EBF0F2;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #EBF0F2;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin: 0 10px;
}

.btn-lgn a {
    text-decoration: none;
    color: #EBF0F2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.btn-lgn:disabled {
    pointer-events: none;
}

.btn-lgn:hover {
    color: #051225;
    background-color: #EBF0F2;
    box-shadow: rgba(255, 255, 255, 0) 0 8px 15px;
    transform: translateY(-2px);
    font-weight: bolder;
}

.btn-lgn a:hover {
    color: #051225;
}

.btn-lgn:active {
    box-shadow: none;
    transform: translateY(0);
}

.logo img {
    width: 200px;
}

.imgbg {
    width: 100%;
    margin: auto;
    position: relative;
}

.imgbg .centro {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #EBF0F2;
}

.imgbg .centro h1 {
    font-size: 14em;
    margin-bottom: -70px;
}

.imgbg .centro p {
    font-size: 5em;
}

.imgbg img {
    width: 100%;
    min-width: 1920px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 1050px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #051225;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    /* estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;

    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }


}

/* QUERRY DE RESPONSIVIDADE */
/* tablet */
@media screen and (max-width: 1050px) {
    /* imgbg e escritas */
    .imgbg img {
        width: 750px;
        display: grid;
        justify-content: center;
        min-width: 1050px
        ;
    }
    .centro {
        height: 700px;
    }

    .imgbg .centro h1 {
        margin-top: 150px;
        text-align: center;
        font-size: 180px;
        
        
    }
    .centro p {
        width: 60%;
        text-align: center;
        align-content: center;
        flex-direction: column;
        margin-left: 20%;
        font-size: 10px;
    }
    

    /* cards intro */
    .intro-cards {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card1st {
        margin-top: 20px;
        width: 950px;
        
    }
    .intro-cards .card1st{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .intro-cards .card1st img {
        width: 200%;
        margin-top: 15px;
        border: 5px;
        border-radius: 15px;
    }
    
    .cardtext{
        color: #fff;
        width: 50px;
        margin-left: 70px;
        font-size: 10px;
        font-family: 'poppins', sans-serif;
        border-bottom-style: outset;
        border-right-style: outset;
        border-bottom-width: 1px;
        border-right-width: 1px ;
        border-bottom-right-radius: 15px;
    }
    .cardtext h3{
        text-align: center;
        font-size: 40px;
    }
    .cardtext p {
        text-align: center;
        font-size: 25px;
    }

    /* ----------------------------------------------------- */

    .intro-cards2 {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 950px;
    }
    .card2st {
        margin-top: 20px;
        width: 950px;
        
    }
    .intro-cards2 .card2st{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cardtext2{
        color: #fff;
        margin-right: 70px;
        font-size: 10px;
        font-family: 'poppins', sans-serif;
        border-bottom-style: outset;
        border-right-style: outset;
        border-bottom-width: 1px;
        border-right-width: 1px ;
        border-bottom-right-radius: 15px;
        margin-bottom: 500px;
    }
    .cardtext2 h3{
        text-align: center;
        font-size: 30px;
    }
    .cardtext2 p {
        text-align: center;
        font-size: 25px;
        
    }

}

/*MAIN*/
main {
    width: 100%;
    margin-top: -30px;
}

/*CARDS DE INTRODUÇÃO DO SITE*/
.intro-cards {
    width: 60%;
    margin: 20px auto;
    height: auto;
    display: grid;
    
}

.intro-cards .card1st{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.intro-cards .card1st img {
    width: 50%;
    max-width: 400px;
    margin-top: 15px;
    border: 5px;
    border-radius: 15px;
}

.cardtext{
    color: #fff;
    width: 500px;
    margin-right: 10%;
    font-size: 30px;
    font-family: 'poppins', sans-serif;
    border-bottom-style: outset;
    border-right-style: outset;
    border-bottom-width: 1px;
    border-right-width: 1px ;
    border-bottom-right-radius: 15px;
}

.cardtext p {
text-align: center;
}

.intro-cards2 {
    width: 60%;
    margin: 20px auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    
}

.intro-cards2 .card2st{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-cards2 .card2st img {
    width: 90%;
    max-width: 400px;
    margin-top: 5px;
    border: 5px;
    border-radius: 15px;
    
}
.cardtext2{
    color: #fff;
    width: 500px;
    height: 250px;
    font-size: 30px;
    font-family: 'poppins', sans-serif;
    border-top-style: outset;
    border-left-style: outset;
    border-top-width: 1px;
    border-left-width: 1px ;
    border-top-left-radius: 15px;
    margin-top: 20%;
    margin-left: 10%;
    text-align: center;
    justify-content: center;
    
}

.cardtext2 p {
text-align: center;
}
/*CARDS DE PERGUNTAS*/
.questao-card {
    width: 100%;
    margin: 60px auto;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.card {
    width: 70%;
    margin: 20px auto;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBF0F2;
    border-radius: 30px;

}

.card-descrip {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.card .card-descrip h3 {
    font-size: 1.5rem;
}

.imgbg-fixed img {
    width: 100%;
    min-width: 1920px;
    background-position: fixed;
}

.imgbg-fixed .centro {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #EBF0F2;
}

.imgbg-fixed .centro h1 {
    font-size: 14em;
    margin-bottom: -70px;
}

.imgbg-fixed .centro p {
    font-size: 5rem;
    font-style: italic;
    font-weight: 200;
}

/*FOOTER*/
.contatos {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;

}

.fale-conosco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.img-sociais {
    width: 90px;
    height: 90px;
    padding: 20px;
}

.divisao {
    border: 1px solid grey;
    height: 90px;
}

.questao-footer {
    margin-top: 200px;
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
    /* Preenche a largura do contêiner */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/*  CARROSSEL */

.carrossel {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}
#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #051225;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex; 
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

footer{
    height: 20px;
    color: #e0e0e0;
    background: #051225;
    text-align: end;
}

footer a{
    text-decoration: none;
    color: #e0e0e0;
    margin-right: 20px;
}